@model IEnumerable<TomyChimmy.Models.Queue>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayingMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorImpuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dirección)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayingMethod.FormaDePago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFactura.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorImpuesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dirección)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Descripcion)
            </td>
            <td>
                <a class="btn btn-outline-dark mt-auto" asp-action="Details" asp-route-id="@item.Pedido_ID">Details</a> |
                @if (User.IsInRole("Manager"))
                    {
                        <a class="btn btn-outline-dark mt-auto" asp-action="Edit" asp-route-id="@item.Pedido_ID">Edit</a> 
                        <a class="btn btn-outline-dark mt-auto" asp-action="Delete" asp-route-id="@item.Pedido_ID">Delete</a>
                    }
                else{}
                </td>
        </tr>
}
    </tbody>
</table>
